body { margin:0; padding:0; line-height:1.2em; }

#app-container {
  display: flex;
  min-height: 100vh;
  nav {
    flex-basis: 21em;
    min-width: 15em;
    padding: 1em;
    background: #222;
    color:#DDD;
    h2 { margin: 1em 0 0.2em 0; }
    ul {
      list-style-type: none;
      margin:0; padding:0;
      & > li {
        cursor: pointer;
        padding: 0.2em 1em;
        &.active { background:rgba(255,255,255,0.1); }
      }
    }
  }
  section {
    flex-grow: 1;
    padding: 1em;
    background:#FEC;
  }
  p {
    margin: 0 0 0.5em;
    padding: 0;
  }
  h1 {
    margin: 0 0 1em;
    padding: 0;
  }
  button {
    padding: 0.2em 0.6em;
    background-color: #555;
    color: #FFF;
    border: solid 0px black;
    border-radius: 3px;
    cursor: pointer;
  }
}

#app-container .unit-tests {
  margin: 0.5em 0;
  border: solid 1px #aaa;
  padding: 0.5rem;
  p {
    padding: 0.2rem;
    margin: 1px 0;
  }
}

#app-container .intcode-console {
  table.intcode-memory {
    border-collapse: collapse;
    font-size: 0.8rem;
    font-family: monospace;
    line-height: 1em;
    margin: 0.5em 0;
    th {
      background-color: rgba(255,255,255, 0.2);
      padding: 0.2em 0.5em 0.15em;
      border: solid 1px #8F682F;
      text-align: center;
    }
    td {
      padding: 0.2em 0.5em 0.15em;
      border: solid 1px #8F682F;
      text-align: right;
    }
    .col-04, .col-09, .col-14 {
      border-right: solid 2px #080;
    }
    .current-pointer {
      background-color: rgba(0,255,0, 0.3);
    }
    .current-parameter {
      background-color: rgba(0,255,0, 0.1);
    }
    .highlighted {
      background-color: rgba(255,255,0, 0.6);
    }
  }
  .action-buttons button:not(:last-child) {
    margin-right: 0.5rem;
  }
  .program-output {
    background: rgba(255,255,255, 0.6);
    padding: 1rem;
    font-size: 0.8rem;
    margin: 0.5rem 0;
    font-family: monospace;
    line-height: 1em;
    max-height: 200px;
    overflow-y: scroll;
    p:not(:last-child) { margin: 0; }
  }
}
